{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>
        </div>
        <button class="btn btn-primary" type="submit">Get the price!</button>
    </form>

    <p>Scroll the window below. Or check Google for the symbol of a stock.
    <iframe src="http://eoddata.com/stocklist/TSX/X.htm" width="1100" height="1000" style="float:left">
     <p>Your browser does not support iframes. Please get the latest version of chrome.</p>
    </iframe>
    </p>
{% endblock %}